.youtube-container {
  width: 80%;
  margin: 2rem auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
}

.youtube-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-card {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 200px;
  width: 300px;
}
.video-pair {
  display: flex;
  gap: 200px;
  justify-content: center;
}

.video-card1 {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s;
  width: 500px;
  height: 350px;
}

@media (max-width: 768px) {
  .video-pair {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .video-card1 {
    width: 100%;
    max-width: 400px;
    height: 250px;
  }
}
.video-card:hover {
  transform: scale(1.05);
}

.video-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.video-title {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}
